node-red/.flows.json.backup
[{"id":"728fb5f923301d62","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"2577de08.4f6b22","type":"server","name":"Home Assistant","addon":true},{"id":"3ac55a4dc450874b","type":"server-state-changed","z":"728fb5f923301d62","name":"","server":"2577de08.4f6b22","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.nest_protect_basement_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":260,"wires":[["1c33239c7af20389"]]},{"id":"1c33239c7af20389","type":"switch","z":"728fb5f923301d62","name":"On /Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":260,"wires":[[],["751d2c720fffd381"]]},{"id":"4248917a292c68ae","type":"api-call-service","z":"728fb5f923301d62","name":"","server":"2577de08.4f6b22","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.home_theater_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":200,"wires":[["f4109305a962d827"]]},{"id":"751d2c720fffd381","type":"debug","z":"728fb5f923301d62","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":420,"wires":[]},{"id":"f4109305a962d827","type":"debug","z":"728fb5f923301d62","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":340,"wires":[]},{"id":"0800a93d85046c91","type":"server-state-changed","z":"728fb5f923301d62","name":"","server":"2577de08.4f6b22","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.nest_protect_home_theater_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":290,"y":180,"wires":[["3364a6e0dea73a18"]]},{"id":"3364a6e0dea73a18","type":"switch","z":"728fb5f923301d62","name":"On /Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":180,"wires":[["4248917a292c68ae"],["751d2c720fffd381"]]}]